<html>
<head>
<title>{{title}}</title>
<style>
a{
    border: 1px solid;
    padding: 30px;
    box-shadow: 5px 10px #888888;
    text-align: center;
    background-color: #00cc99;
    color:white;
    }

</style>

</head>
 <body>
<h1>Home</h1>

<form action="/adduser" method="POST">
<h3>Enter User Name: </h3>
<input type="text" name="username">
<button type="submit">Submit</button>
</form>

 </body>   
</html>



