<html>
<head>
<title>{{title}}</title>


</head>
 <body>
<h1>Home</h1>

<form action="/adduser" method="POST">
<h3>Enter User Name: </h3>
<input type="text" name="username">
<button type="submit">Submit</button>
</form>

 </body>   
</html>



